//PRIMARY COLORS//

$primary-color-sage: #87BCBF;
$primary-color-rust: #D97D54;
$primary-color-drab: #324755;
$primary-color-danger: #D95454;
$primary-color-black: #1E1E1E;


//SECONDARY COLORS//
$secondary-color-ice: #F0F3F4;
$secondary-color-fossil: #C8D1D3;
$secondary-color-sand: #B9B0A2;

//TYPOGRAPHY COLORS//
$typography-color-onyx: #1B1C20;
$typography-color-slate: #6E8CA0;
$typography-color-snow: #FFFFFF;

//FONT//
$main-font: "europa", sans-serif;
$secondary-font: "rift-soft", sans-serif;

