@use "./color" as col;

body{
    max-width: 500px;
    margin: 0 auto;
    transition: 500ms ease;
}

    .footer{
        text-align: center;
        padding: 2em 0;
        font-size: 0.85em;
    }
