@use "./color" as col;

.navigation {
    width: 100%;
    background-color:col.$secondary-color-ice;
    padding-bottom: 2em;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        grid-column: 2/3;
        text-align: center;
        font-size: 1.3em;
        font-weight: 800;
        list-style: none;
    }
    &__arrow, &__inbox{
        grid-column: 1/2;
        padding-left: 1em;
        align-self: center;
    }
    &__cockwheel{
        grid-column: 3/4;
    }
}